@using Doan.Models
@model List<Sanpham>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ListSP";
}
<link href="~/Content/css/StyleDetailPage.css" rel="stylesheet" />
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-lg-3 col-md-4">
            <div class="card h-100">
                <div class="d-flex justify-content-between position-absolute w-100">
                    <div class="label-sale">
                        <span class="text-white bg-primary small d-flex align-items-center px-2 py-1">
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <span class="ml-1">Sale</span>
                        </span>
                    </div>
                </div>
                <a href="SPdetail/@item.IDsanpham">
                    <img src="@item.AnhSP" class="card-img-top" alt="Product">
                </a>
                <div class="card-body px-2 pb-2 pt-1 d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="h5 text-primary">@String.Format("{0:0,0}", item.GiaSP) VND</p>
                        </div>
                        <div>
                            <a href="#" class="text-secondary lead" data-toggle="tooltip" data-placement="left" title="Compare">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-warning d-flex align-items-center mb-2">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                    <p class="mb-0">
                        <strong>
                            <a href="SPdetail/@item.IDsanpham" class="text-secondary">@item.TenSP</a>
                        </strong>
                    </p>
                    <p class="mb-1">
                        <small>
                            <a href="#" class="text-secondary">@item.NSX</a>
                        </small>
                    </p>
                    <div class="d-flex justify-content-between mt-auto">
                        <div class="col px-0">
                            <button class="btn btn-outline-primary btn-block">
                                Thêm vào giỏ
                                <i class="fas fa-shopping-cart pr-2" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

