@using Doan.Models
@model Sanpham
@{
    ViewBag.Title = "SPdetail";
}
<link href="~/Content/css/StyleDetailPage.css" rel="stylesheet"/>
@using (Html.BeginForm())
{
    <div class="card">
        <div class="row">
            <!--Khung anh-->
            <aside class="col-md-5 mb-4 mb-md-0">
                <article class="row gallery-wrap mx-1">
                    <div class="col-12 mb-0">
                        <div class="img-big-wrap zoom">
                            <div>
                                <a href="#">
                                    <img src="@Model.AnhSP" alt="anh" style="transform-origin: center center;transform: scale(1);">
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </aside>
            <!--Khung thong tin san pham-->
            <aside class="col-md-7">
                <article class="card-body p-5">
                    <h3 class="mb-2">@Model.TenSP</h3>
                    <span class="sub-title-product">@Model.NSX</span>
                    <div class="price-detail-wrap">
                        <p class="title">Giá tiền:</p>
                        <p class="price">
                            <span>@Model.GiaSP đ</span>
                        </p>
                    </div>
                    <div id="availability">
                        <div class="stock">Còn hàng</div>
                    </div>
                    <hr>
                    <dl>
                        <dt>Số lượng: </dt>
                        <dd>
                            <select class="form-control form-control-sm" style="width:70px;">
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                            </select>
                        </dd>
                    </dl>
                    <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Mua ngay</button>
                    <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                        <i class="fas fa-shopping-cart pr-2"></i>Thêm vào giỏ hàng
                    </button>
                </article>
            </aside>
        </div>
    </div>
    <div class="classic-tabs rounded px-4 pt-1">
        <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link show active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                   aria-controls="description" aria-selected="true">MÔ TẢ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                   aria-selected="false">THÔNG TIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                   aria-selected="false">ĐÁNH GIÁ</a>
            </li>
        </ul>
        <div class="tab-content" id="advancedTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <h5>Product Description</h5>
                <p class="pt-1">
                    @Model.MoTa
                </p>
                <h5>Lợi ích chung</h5>
                <p class="pt-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                    error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                    officia quis dolore quos sapiente tempore alias.
                </p>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <h5>Thông tin thêm</h5>
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Trọng lượng</th>
                            <td><em>0.3 kg</em></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Dimensions</th>
                            <td><em>50 × 60 cm</em></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <h5>Thêm nhận xét</h5>
                <div class="my-3">
                    <ul class="rating mb-0">
                        <li>
                            <a href="#!">
                                <i class="fas fa-star fa-sm text-rating"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="fas fa-star fa-sm text-rating"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="fas fa-star fa-sm text-rating"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="fas fa-star fa-sm text-rating"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="far fa-star fa-sm text-rating"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <!-- Your review -->
                    <div class="md-form md-outline">
                        <textarea id="form76" class="md-textarea form-control pr-6" rows="4"></textarea>
                        <label for="form76">Your review</label>
                    </div>
                    <!-- Name -->
                    <div class="md-form md-outline">
                        <input type="text" id="form75" class="form-control pr-6">
                        <label for="form75">Name</label>
                    </div>
                    <!-- Email -->
                    <div class="md-form md-outline">
                        <input type="email" id="form77" class="form-control pr-6">
                        <label for="form77">Email</label>
                    </div>
                    <div class="text-right pb-2">
                        <button type="button" class="btn btn-primary">Add a review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

